{% load static %}

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

</head>

<body>
<nav class="navbar navbar-expand navbar-dark  bg-dark">
    <a class="navbar-brand" href="#">Millet Aç Aç</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if 'home' in request.path %}
            <li class="nav-item active" >
            <a class="nav-link" href="{% url 'home'%}">Home <span
                        class="sr-only">(current)</span></a></li>

            {% else %}
            <li class="nav-item" >
            <a class="nav-link" href="{% url 'home'%}">Home <span
                        class="sr-only">(current)</span></a></li>
            {% endif %}

            {% if 'restaurants' in request.path %}
                <li class="nav-item active">
                    {%if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'restaurant_list' %}"> Restaurants <span
                            class="sr-only">(current)</span></a>
                    {% endif %}
            {% else %}
                <li class="nav-item">
                    {%if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'restaurant_list' %}"> Restaurants <span
                            class="sr-only">(current)</span></a>
                    {% endif %}
            {% endif %}




            {% if 'home' in request.path and user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Top Meals
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" id="top4-2">Top Rated</a>
                    <a class="dropdown-item" href="#" id="top4">Most Reviewed</a>
                    <a class="dropdown-item" href="#" id="top4-3">Suggested-1</a>
                     <a class="dropdown-item" href="#" id="top4-4">Suggested-2</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>

            <!--<li class="nav-item" id="top4">-->
                <!--<a class="nav-link">TOP4!</a>-->
            <!--</li>-->
            {% elif user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Top Meals
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="http://127.0.0.1:8000/registration/home/#container-dish-2">Top Rated</a>
                    <a class="dropdown-item" href="http://127.0.0.1:8000/registration/home/#container-dish">Most Reviewed</a>
                    <a class="dropdown-item" href="http://127.0.0.1:8000/registration/home/#container-dish-3" >Suggested-1</a>
                     <a class="dropdown-item" href="http://127.0.0.1:8000/registration/home/#container-dish-4" >Suggested-2</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>

            <!--<li class="nav-item" id="top4">-->
                <!--<a class="nav-link" href="http://127.0.0.1:8000/registration/home/#container-dish">TOP4!</a>-->
            <!--</li>-->
            {% endif %}


            {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
            </li>
            {% endif %}


            {%if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{user.first_name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">



                    <a class="dropdown-item" href="{% url 'edit_profile' %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'favorites' %}">Favorites</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" onclick = "return(confirm('Are you sure to log out?'))" href="{% url 'loggedout' %}">Log out</a>
                </div>
            </li>
            {% endif %}

        </ul>
        {% if user.is_authenticated %}
        <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <input name = "q" value="{{request.GET.q}}" class="form-control mr-sm-2" style="width: 300px" type="search" minlength="3" placeholder="Search meals, restaurants, users..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search </button>
        </form>
        {% endif %}
    </div>
</nav>

<div class="container" style="margin:20px; margin-right:auto; margin-left: auto;">{% block login %}
    {% endblock login %}
</div>
<div class="container" style="margin:20px; margin-right:auto; margin-left: auto;">{% block signup %}
    {% endblock signup %}
</div>
<div class="container" style="margin:20px; margin-right:auto; margin-left: auto;"> {% block loggedout %}
    {% endblock loggedout %}
</div>

{% block home %}
{% endblock home %}

{% block result_user %}
{% endblock result_user %}

<div class="container" style="margin:20px; margin-right:auto; margin-left: auto;"> {% block password_reset %}
    {% endblock password_reset %}
</div>
<div class="container" style="margin:20px; margin-right:auto; margin-left: auto;"> {% block password_reset_done %}
    {% endblock password_reset_done %}
</div>
<div class="container" style="margin:20px; margin-right:auto; margin-left: auto;">
    {% block password_reset_confirm %}
    {% endblock password_reset_confirm %}
</div>
<div class="container" style="margin:20px">
    {% block password_reset_complete %}
    {% endblock password_reset_complete %}
</div>
<div class="container" style="margin: 20px;margin-right:auto; margin-left: auto;">
    {% block restaurant_list %}
    {% endblock restaurant_list %}
</div>
<div class="container" style="margin:40px; margin-right:auto; margin-left: auto;">
    {% block restaurant %}
    {% endblock restaurant %}
</div>

<div class="container" style="margin:20px; margin-right:auto; margin-left: auto;">
    {% block profile %}
    {% endblock profile %}

</div>
<div class="container">
    {% block bmeal %}
    {% endblock bmeal %}
</div>
<div class="container" style="margin:auto; width:80%">
    {% block search_results %}
    {% endblock search_results %}
</div>

<div class="container" style="margin: 20px;margin-right:auto; margin-left: auto;">
    {% block favorites %}
    {% endblock favorites %}
</div>

</body>



</html>