{% extends 'registration/base_layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block password_reset_confirm %}



<div class="row justify-content-center">

    <div class="col-8">
        <div class="card">
            <h3 style="text-align:center">Set a new password</h3>
            <div class="card-body">
                {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary"> Change my password</button>
                </form>
                {% else %}
                    <p style="color:red"> Invalid Token. </p>
                    <a href="{% url 'password_reset' %}"> New request </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>



<style>
body,html {
    background-image: url({% static 'restaurants/food-backgrounds.jpg' %});
      /* Full height */
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

</style>
{% endblock password_reset_confirm %}