{% extends 'registration/base_layout.html' %}
{% load crispy_forms_tags %}

{% block password_reset %}
<div class = "row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2>Reset your password</h2>
                <p>Give us the email address that you signed up with so that we can send you a link for password resetting.</p>
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type = "submit" class="btn btn-primary"> Send me the link </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock password_reset %}