{% extends 'registration/base_layout.html' %}

{% load crispy_forms_tags %}
{% block signup %}


<div class = "row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
            <h2>Sign Up</h2>
            <form method="post">
                {% csrf_token %}
                {% if form.mail_is_unique == 0 %}
                    <p style="color:red">This email is taken.</p>
                {% endif %}
                {{form|crispy}}

                <button type="submit" class="btn btn-primary">Sign up</button>
                <a href="{% url 'login' %}" class ="btn btn-link"> Do you have account? Sign in.</a>
            </form>
        </div>
        </div>


    </div>
</div>




<!-- ## %url 'reset_password' -->
{% endblock signup %}